@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-gray-50;
}

input {
  @apply px-2;
}
.fc-header-toolbar {
  display: inline-block;
  padding: 4px;

  @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full bg-white;
}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600 text-center;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-violet-100;
}

.fc .fc-button {
  @apply bg-violet-800 hover:bg-violet-900;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-violet-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-violet-600;
}
.fc-v-event {
  @apply bg-violet-500 border border-violet-600;
}
